.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  max-width: 880px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  max-width: 219px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.card__like-button {
  background: transparent url(../images/inactive-heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
