.footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  max-width: 880px;
  min-height: 18px;
  width: 100%;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
  color: #545454;
  line-height: normal;
  font-weight: 400;
  font-size: 18px;
}
@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    max-width: 762px;
  }
}
